.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App .container {
  padding-left: 0;
  padding-right: 0;
}

/* banner  */
.App .banner-card {
  padding: 50px 0;
  border: none;
  .banner-card-body {
    border-radius: 10px;
    height: 390px;
    .card-title {
      font-size: 50px;
      font-weight: 700;
      padding-top: 80px;
    }
    .card-text {
      width: 90%;
      margin: auto;
      font-size: 24px;
    }
    .btn-card {
      margin-top: 17px;
      padding: 10px 18px;
      font-size: 20px;
      border-radius: 8px;
    }
  }
}

/* item */
.App .item-card {
  border: none;
  padding: 30px 0;
  .item-card-body {
    border-radius: 10px;
    height: 200px;
    position: relative;
    .btn-card {
      font-size: 34px;
      border-radius: 10px;
      position: absolute;
      top: -26px;
      left: 143px;
    }
    .card-title {
      margin-top: 44px;
      font-size: 25px;
      font-weight: 700;
    }
  }
}
